<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title or "Fancy App" }}</title>
    {% include "styles.html" %}
</head>
<body>
    <header>
        <h1>ITLogin</h1>
        <nav>
            <a href="/">Hjem</a>
            <a href="/min-profil">Profil</a>
            {% if not session.logged_in %}
            <a href="/register">Registrer</a>
            <a href="/log-in">Logg inn</a>
            {% else %}
            <a href="/log-out">Logg ut</a>
            {% endif %}
        </nav>
        {% if session.user %}
        <p>Hei {{ session.user.fornavn }}!</p>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>