{% extends "base.html" %}

{% block content %}

    <h1>Hei {{ session.user.fornavn }} {{ session.user.etternavn }}!</h1>

    <form method="POST" action="/update_profile">
        <label for="fornavn">Ditt fornavn</label>
        <input name="fornavn" id="fornavn" value="{{ session.user.fornavn }}">
        <label for="etternavn">Ditt etternavn</label>
        <input name="etternavn" id="etternavn" value="{{ session.user.etternavn }}">
        <button type="submit">Oppdater</button>
    </form>

{% endblock %}