{% extends "base.html" %}

{% block content %}
    <h2>Registrer bruker</h2>

    {% if error_msg %}
    <div class="error">{{ error_msg }}</div>
    {% endif %}

    <form action="{{ url_for('post_register') }}" method="post">
        <label for="username">Brukernavn</label>
        <input id="username" name="username" type="text" required>

        <label for="password">Passord</label>
        <input id="password" type="password" name="password" required>

        <label for="fornavn">Fornavn</label>
        <input id="fornavn" name="fornavn" type="text" required>

        <label for="etternavn">Etternavn</label>
        <input id="etternavn" name="etternavn" type="text" required>

        <input type="submit" value="Registrer">
    </form>
{% endblock %}